#homepage-1 {
  background-color: #fafafa;
}
#homepage-1 .ps-home-banner {
  padding-top: 30px;
  margin-bottom: 30px;
}
#homepage-1 .ps-home-banner .ps-container {
  display: flex;
  flex-flow: row nowrap;
}
#homepage-1 .ps-home-banner .ps-container > * {
  width: 100%;
}
#homepage-1 .ps-home-banner .ps-container .ps-section__left {
  max-width: 100%;
}
#homepage-1 .ps-home-banner .ps-container .ps-section__right {
  max-width: 390px;
}
#homepage-1 .ps-home-banner .ps-container .ps-section__right .ps-collection {
  display: block;
  margin-bottom: 30px;
}
#homepage-1 .ps-home-banner .ps-container .ps-section__right .ps-collection:last-child {
  margin-bottom: 0;
}
@media (max-width: 1199px) {
  #homepage-1 .ps-home-banner .ps-container {
    display: block;
  }
  #homepage-1 .ps-home-banner .ps-container .ps-section__left {
    max-width: 100%;
    margin-bottom: 10px;
    padding-right: 0;
  }
  #homepage-1 .ps-home-banner .ps-container .ps-section__right {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    max-width: 100%;
  }
  #homepage-1 .ps-home-banner .ps-container .ps-section__right .ps-collection {
    width: 100%;
    max-width: 50%;
    padding: 0 5px;
  }
  #homepage-1 .ps-home-banner .ps-container .ps-section__right .ps-collection img {
    width: 100%;
  }
  #homepage-1 .ps-home-banner .ps-container .ps-section__right .ps-collection:first-child {
    padding-left: 0;
  }
  #homepage-1 .ps-home-banner .ps-container .ps-section__right .ps-collection:last-child {
    padding-right: 0;
  }
}
#homepage-1 .ps-site-features {
  padding-bottom: 90px;
}
#homepage-1 .ps-deal-of-day {
  padding-bottom: 80px;
}
#homepage-1 .ps-deal-of-day .slick-slide > div {
  margin: 0 8px;
}
#homepage-1 .ps-deal-of-day .ps-product .ps-product__price {
  color: #690;
  font-size: 18px;
  font-weight: 600;
}
#homepage-1 .ps-deal-of-day .ps-product .ps-product__price del {
  margin-left: 10px;
  font-size: 14px;
}
#homepage-1 .ps-deal-of-day .ps-product .ps-product__price small {
  margin-left: 10px;
  color: red;
}
#homepage-1 .ps-top-categories {
  padding: 80px 0 50px;
}
#homepage-1 .ps-top-categories h3 {
  text-transform: capitalize;
}
@media (min-width: 1440px) {
  #homepage-1 .ps-top-categories .row .col-xl-2 {
    max-width: 12.5%;
  }
}
@media (max-width: 1199px) {
  #homepage-1 .ps-top-categories {
    padding: 60px 0;
  }
}
@media (max-width: 991px) {
  #homepage-1 .ps-top-categories {
    padding: 50px 0;
  }
}
@media (max-width: 767px) {
  #homepage-1 .ps-top-categories {
    padding: 40px 0;
  }
}
@media (max-width: 479px) {
  #homepage-1 .ps-top-categories {
    padding: 35px 0;
  }
}
@media (max-width: 991px) {
  #homepage-1 .ps-product-list {
    padding-bottom: 50px;
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  #homepage-1 .ps-product-list {
    padding-bottom: 40px;
  }
}
@media (max-width: 479px) {
  #homepage-1 .ps-product-list {
    padding-bottom: 0px;
  }
}
#homepage-1 .ps-download-app {
  margin-top: 80px;
  margin-bottom: 100px;
}
@media (max-width: 767px) {
  #homepage-1 .ps-download-app {
    margin-bottom: 50px;
  }
}
#homepage-1 .ps-carousel .slick-list {
  padding-right: 3px !important;
}

@media (max-width: 600px) {
  .ps-home-banner {
    display: none;
  }
}/*# sourceMappingURL=home-default.css.map */