$font-1st: 'Roboto', sans-serif;
$font-2nd: 'Libre Baskerville', serif;
$font-3rd: 'Playfair Display', serif;
$home: true !default;

$color-1st: #1976d2;
$color-layout-2-1st: #dd2400;
$color-autopart: #dd2400;
$color-technology: #0071df;
$color-electronic: #dd2400;
$color-furniture: #fb7c00;
$color-organic: #5fa30f;
$color-kids: #3e81ac;
$color-photo: #c81919;
$color-2nd: #222222;
$color-3rd: #5e6b9d;
$color-heading: #000;
$color-text: #666;
$color-text-2: #555;
$color-dark: #161824;
$color-link: #06c;

$color-success: #669900;
$color-warning: #faa806;
$color-danger: #ec0101;
$color-gray: #9e9e9e;
$color-facebook: #3b5999;
$color-twitter: #55acee;
$color-google: #dd4b39;
$color-linkedin: #0077b5;
$color-instagram: #0077b5;
$document-font-size: 14px;

$timing: cubic-bezier(0.77, 0, 0.175, 1);
$timing-1: cubic-bezier(0.7, 0, 0.3, 1);
$timing-2: cubic-bezier(0.2, 1, 0.3, 1);


// New theme color changes
$primary-color:#000819;
$secondry-color:#333D47;
$blue-color:#1877F2;
$grey-color:#333D47;
$light-grey-color:#C2C5C8;
$white-color:#fff;
$login-bg-color:#F4F7FA;
$danger-color:#EB5757;
$border-color:#999EA3;
$success-color: #05D75E;
$warning-color: #faa806;
$home-bg:#E4E4E4;
$green-color:#27AE60;
$red-color:#EB5757;
$disc-color:#5C646C;
$search-color:#999EA3;
$search-bg:#F2F5FA;
$border2-color:#EBECED;
$footer-bg:#10224C;
$stream-bg:#000C28;
$modal-header-bg:#F5F6FA;
$social-border-color:#EBECED;
$body-bg:#F5F6FA;
$step-line-color:#F5F6FA;
$step-success-color:#00A759;
$delete-bg:#F2F5FA;
$orange-color:#EB8C57;

$card-blue-color:#287CFA;
$primary-btn-hover:#4B80FF;

$loader-bg:#F3F8FE;