.card-wrapper {
    position: relative;
}

.aside-content-wrap {
    .category-wrapper {
        background-color: transparent;
    }

    .aside-wrapper {
        border-radius: 8px;
        overflow: hidden;
        background-color: $white-color;
        .aside-container {
            padding: 0;

            li {
                list-style: none;
                font-size: 20px;
                line-height: 1.1;
                font-weight: 500;
                padding: 20px 21px;
                border-bottom: 1px solid $border2-color;
                transition: all 0.3s;
                position: relative;
                cursor: pointer;
                transition: color .2s;
                &:last-child {
                    border: none;
                }
                &:after {
                    content: '';
                    width: 4px;
                    height: 40px;
                    background-color: transparent;
                    border-radius: 2px;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: background-color .2s;
                }
                &.active,&:hover {
                    color: $blue-color;

                    &:after {
                        background-color: $blue-color;
                    }
                }
            }
        }

        // start of aside-proflie
    }
}

.profile-wrapper {
    .profile-aside {
        border-radius: 16px;
        overflow: hidden;

        .profile-container {
            text-align: center;
            padding: 24px 16px 35px 16px;

            .profile-icon {
                width: 124px;
                margin: 0 auto;

                img {
                    width: 100%;
                    overflow: hidden;
                    object-fit: cover;
                }
            }

            .title {
                font-size: 20px;
                line-height: 1.2;
                font-weight: 600;
                color: $primary-color;
                margin: 24px 0;

                span {
                    font-size: 16px;
                }
            }

            .follow-btn {
                width: 81px;
                height: 38px;
                margin:0 8px;
            }

            .edit-profile-btn {
                width: 115px;
                height: 38px;
                margin:0 8px;
            }
        }

        .description {
            text-align: left;
            color: $primary-color;
            margin-top: 24px;
            text-align: center;
        }

        .social-icons-wrapper {
            padding: 20px 0 0;

            .social-border {
                max-width: 181px;
                margin: 0 auto;
                border: 1px solid $social-border-color;
                margin-bottom: 24px;
            }

            .social-icons {
                justify-content: center;
                align-items: center;
                gap: 24px;
                padding: 0;
                margin-bottom: 0;
                li {
                    border: none;
                    padding: 0;
                }
            }
        }
    }
    .card-list{ 
        .profile {
            width: 100%;
            background-color: $white-color;
            border-radius: 8px;
            padding: 12px 16px 80px;
            height: 100%;
            @include pos(re);
            > img{
                max-width: 98px;
                max-height: 98px;
                width: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
            .f-title{
                font-size: 18px;
                line-height: 24px;
                font-weight: 500;
                margin:8px 0;
                word-wrap: break-word;
            }
            .f-digi{
                font-size: 16px;
                line-height: 24px;
                font-weight: 500;
                word-wrap: break-word;
            }
            .primary-btn,.border-btn{
                height: 36px;
                max-width: 136px;
                width: 100%;
                @include pos(ab,null,null,24px,50%);
                transform:translateX(-50%);
            }
        }
    }
    .no-record{
        width:100%;
        font-size: 18px;
        color:$primary-color;
        font-weight: 500;
    }
}


@media all and (min-width:320px) and (max-width:1024px) {
    .profile-wrapper {
        .profile-aside {
            max-width: 88%;
            margin: -100px auto 32px;
        }
    }
    .aside-wrapper{
        width: 100%;
        margin-bottom: 20px;
    }
    .aside-content-wrap {
        .category-wrapper {
            margin-bottom: 12px;
        }

        .overflow-none {
            max-width: 100%;
        }
        
    }
    .profile-container-wrap{
        > .profile-title{
            padding: 40px 15px 32px;
            font-size: 24px;
            line-height: 34px;
            font-weight: 700;
            background-color: $white-color;
            .edit-back{
                margin-right: 15px;
            }
        }
    }
}

@media all and (min-width:1025px){
    .profile-wrapper {
        .profile-aside {
            margin-top: -120px;
        }
    }
    .aside-content-wrap{
        aside{
            max-width: 296px;
            width: 100%;
        }
        .category-wrapper{
            width: 100%;            
            padding-top: 0;
            background-color: transparent;
            .overflow-wrap{
                max-width: 100%;
                margin-left:0;
                transform:none;
                padding: 0;
            }
            .Category-list-wrap{
                max-width: 100%;
                margin-left:0;
                transform:none;
                padding: 0;
            }
        }
        .overflow-none{
            width: calc(100% - 326px);
            .card-wrap {
                padding: 0;
                flex-wrap: wrap;
            }
        }
    }
}