
.overflow-wrap{
    flex-wrap: nowrap;
    width:100vw;
    margin-left: 50%;
    transform: translateX(-50%);
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar { 
        height: 0;  
    }
}
.card-wrapper{
    background-color: $body-bg;
    padding: 24px 0;
}
.card-inner{
    padding-bottom: 24px;
}
.card-wrap,.Category-list-wrap{
    flex-wrap: nowrap;
}
.title-wrap{
    margin-bottom: 16px;
    .title{
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        margin-bottom: 0;
    }
    .seeAll{
        a{
            font-size: 12px;
            line-height: 18px;
            color:$blue-color;
            font-weight: 700;
        }
    }
}
.card-wrap{
    margin: 0 -6px;
}
.card-list{
    padding: 0 6px;
    flex:0 0 172px;
}
.overflow-wrap{
    .card-list{
        &:first-child{
            padding-left: 0;
            flex:0 0 166px;
        }
    }
}
.inner-card-list{
    background-color: $white-color;
    border-radius: 8px;
    overflow: hidden;
    align-content: flex-start;
    padding: 4px;
    height: 100%;
    width: 100%;
    position: relative;
    a{
        width: 100%;
    }
    .tme-wrap{
        font-size: 12px;
        line-height: 18px;
        background: rgba($white-color, 0.4);
        backdrop-filter: blur(8px);
        border-radius: 18px;
        color:$white-color;
        width: 104px;
        height: 28px;
        &.live{
            width: 60px;
            height: 28px;
            flex-direction: row-reverse;
            font-size: 12px;
            .live{
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background-color: transparent;
                border:2px solid rgba($red-color,.3);
                padding: 0;
                margin-right: 2px;
                &:before{
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: $red-color;
                    left: 2px;
                    top:2px;
                }
            }
        }
        &.end{
            width: auto;
            padding: 0 8px;
        }
        svg{
            max-width: 14px;
            text-align: center;
            .icon{
                fill: $white-color;
            }
        }
        span{
            padding: 0 3px 0 2px;
        }
    }
    .image{
        position: relative;
        > img{
            width: 100%;
            border-radius: 8px;
        }
        .tme-wrap{
            position: absolute;
            top:4px;
            left: 4px;
        }
        .like{
            position: absolute;
            top:4px;
            right: 4px;
            background-color: $white-color;
            border-radius: 50%;
            width:28px;
            height: 28px;
            svg{
                width:16px;
            }
            .icon{
                transition: all .25s;
            }
            &:hover,&.liked{
                .icon{
                    fill: $red-color;
                    stroke: $red-color;
                }
            }
        }
    }
    .text{
        padding: 8px;
        .title{
            font-size: 14px;
            line-height: 21px;
            font-weight: 500;
            margin-bottom: 5px;
            img{
                width: 25px;
                height: 25px;
                border-radius: 50%;
                margin-right: 5px;
                object-fit: cover;
                border:1px solid$white-color;
                border-radius:50%;
            }
        }
        .disc{
            font-size: 12px;
            line-height: 18px;
            margin-bottom: 5px;
        }
        .cate-btn{
            font-size: 12px;
            height: 26px;
            background-color: rgba($blue-color,.2);
            border-radius: 13px;
            padding: 0 8px;
            color: $blue-color;
        }
    }
}
.tme-wrap{
    font-size: 12px;
    line-height: 18px;
    background: rgba($white-color, 0.4);
    backdrop-filter: blur(8px);
    border-radius: 18px;
    color:$white-color;
    width: 104px;
    height: 24px;
    &.end{
        width: auto;
        padding: 0 8px;
    }
    svg{
        max-width: 14px;
        text-align: center;
        .icon{
            fill: $white-color;
        }
    }
    span{
        padding: 0 3px 0 2px;
    }
    .live{
        font-size: 12px;
        width: 49px;
        height: 20px;
        border-radius: 14px;
        color:$white-color;
        background-color: $red-color;
        list-style: disc;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding-left: 12px;
        &:before{
            content: "";
            position: absolute;
            left:8px;
            top:8px;
            width: 3px;
            height: 3px;
            background-color: $white-color;
            border-radius: 50%;
        }
    }
}
.category-btn-wrap{
    position: relative;
}
.category-list{
    flex-wrap: nowrap;
}
.card-wrapper{
    .title-wrap {
        .title{
            span{
                font-weight: 500;
                color:#5C646C;
            }
        }
    }
}
.overflow-none{
    .card-wrap {
        padding: 0;
        flex-wrap: wrap;
    }
}
.dropdownlist{
    @include pos(re);
    .dropDownBtn{
        width: 164px;
        background-color: $white-color;
        height: 42px;
        border-radius: 8px;
        color:$primary-color;
        padding: 0 10px;
        @include pos(re);
        z-index: 2;
    }
    .jwelleryList{
        @include pos(ab,calc(100% - 8px),0,null,null,1);
        padding: 8px 0 0;
        background-color: $white-color;
        width:164px;
        border-radius: 0 0 8px 8px;
        box-shadow: 0 8px 8px rgba($primary-color,.2);
        visibility: hidden;
        opacity: 0;
        height: 0;
        transition: all .25s;
        &.active{
            height: auto;
            visibility: visible;
            opacity: 1;
        }
        li{
            font-size: 14px;
            line-height: 21px;
            color:$primary-color;
            list-style: none;
            padding: 10px 10px;
            cursor: pointer;
            text-align: left;
            border-bottom: 1px solid rgba($border-color,.2);
            &.active{
                color:$blue-color;
            }
            &:last-child{
                border-bottom: none;
            }
        }

    }
}
@media all and (min-width:320px) and (max-width:1024px){
    .card-list{
        @include pos(re);
        .text{
            @include pos(ab,null,null,4px,4px);
            width:calc(100% - 8px);
            border-radius: 0 0 8px 8px;
            padding:25px 4px 4px;
            background:linear-gradient(180deg, rgba(#000,0) 0%, #000 100%);
            .title{
                flex-direction: column;
                align-items: flex-start;
                img{
                    margin-bottom: 4px;
                }
            }
            .title,.disc{
                color:#fff;
            }
        }
    }
    .overflow-none{
        .card-wrap {
            margin:0 -8px;
            .card-list{ 
                padding:8px;
                flex:0 0 50%;
            }
        }
    }
}
@media all and (min-width:1025px){
    .category-wrapper{
        padding-top: 32px;
    }
    .card-wrapper{
        padding: 40px 0;
    }
    .card-inner{
        padding-bottom: 32px;
    }
    .title-wrap{
        margin-bottom: 24px;
        .title{
            font-size: 24px;
            line-height: 24px;
        }
        .seeAll{
            a{
                font-size: 18px;
                line-height: 24px;
            }
        }
    }  
    .card-wrap{
        margin:0 -12px;
    }
    .card-list{
        flex:0 0 213px;
        padding: 0 12px;
        
        .text{
            padding: 6px;
        }    
        .title{ 
        @include pos(re);
            img{
                @include pos(ab,-28px,null,null,0);
            }
        }
        .disc{
            color:$grey-color;
        }
        .cate-btn{
            font-size: 12px;
            height: 26px;
            background-color: rgba($blue-color,.2);
            border-radius: 13px;
            padding: 0 8px;
        }
    }
    .overflow-wrap{
        .card-list{
            &:first-child{
                flex:0 0 201px;
            }
        }
    }
    .tme-wrap{
        font-size: 16px;
        width: 136px;
        height: 32px;
        svg{
            max-width: 18px;
        }
        span{
            padding: 0 6px 0 2px;
        }
        .live{
            font-size: 14px;
            width: 53px;
            height: 24px;
            &:before{
                top:11px;
                width: 4px;
                height: 4px;
            }
        }
    }
    .overflow-none{
        .card-wrap {
            padding: 0;
            flex-wrap: wrap;
            margin: 0 -14px;
            .card-list{ 
                flex:0 0 calc(100% / 6);
                padding:0 14px 28px;
            }
        }
    }
    
}

