.category-wrapper{
    background-color: $white-color;
    &.cotegories-border{
        border-bottom: 1px solid $border2-color;
    }
    .category-btn-wrap{
        position: relative;
        margin-left: 8px;
    }
    .category-btn{
        width: 42px;
        height: 42px;
        border-radius: 8px;
        background-color: $search-bg;
    }
    .title-wrap{
        .breadcrumbs-wrapper{
            padding-top: 0;
        }
    }
    .dropDown{
        position: absolute;
        left:0;
        top: calc(100% + 12px);
        background-color: $white-color;
        width:152px;
        border-radius: 12px;
        box-shadow: 0px 8px 24px $search-bg;
        padding: 0 10px;
        z-index: 2;
        visibility: hidden;
        opacity: 0;
        height: 0;
        transition: all .25s;
        &.active{
            height: auto;
            visibility: visible;
            opacity: 1;
        }
        li{
            font-size: 14px;
            line-height: 21px;
            color:$disc-color;
            list-style: none;
            padding: 10px 0;
            cursor: pointer;
            border-bottom: 1px solid $border2-color;
            &.active{
                color:$blue-color;
            }
            &:last-child{
                border-bottom: none;
            }
        }
    }
    .category-like{
        height: 32px;
        padding-right: 12px;
        position: relative;
        &:after{
            content: "";
            width: 1px;
            height: 22px;
            background-color: $border2-color;
            position: absolute;
            top:50%;
            right: 0;
            transform: translateY(-50%);
        }
        .Like{
            width: 32px;
            height: 32px;
            background-color: $search-bg;
            border-radius: 50%;
            .icon{ 
                fill:$red-color;
                stroke: $red-color;
            }
        }
    }
    .category-list{
        .title{
            font-size: 14px;
            line-height: 21px;
            padding: 5px 0 12px;
            margin:0 11px;
            color:$disc-color;
            font-weight: 500;
            position: relative;
            white-space: nowrap;
            &:after{
                content: "";
                position: absolute;
                left:0;
                bottom: 0;
                height: 2px;
                width: 100%;
                background-color: transparent;
            }
            &.active{
                font-weight: 600;
                color: $blue-color;
                &:after{
                    background-color: $blue-color;
                }
            }
        }
    }
}
@media all and (min-width:320px) and (max-width:1024px){
    .category-wrapper{
        .category-btn{
            display: none;
        }
    }
}
@media all and (min-width:1025px){
    .category-wrapper{
        .category-btn-wrap{
            margin-left: 12px;
        }
        .category-like{
            padding-right: 20px;
        }
        .category-list{
            .title{
                font-size: 18px;
                padding: 5px 0 15px;
                margin:0 17px;
                &:after{
                    height: 4px;
                }
            }
        }
    }    
}
