
.edit-inner-container{
    max-width: 1080px;
    width:100%;
    padding: 0 15px 30px;
    margin: 0 auto;
    .breadcrumbs{
        li{
            color:$secondry-color;
            &.current{
                color:$blue-color;
            }
        }
    }
    .edit-inner{
        max-width: 950px;
        width: 100%;
    }
    h1{
        font-size: 24px;
        line-height: 30px;
        font-weight: 00;
        .edit-back{
            max-width: 24px;
            margin-right: 16px;
        }
        .icon{
            fill:$primary-color;
        }
    }
    h3{
        font-size: 16px;

        line-height: 24px;
        margin-bottom: 8px;
        font-weight: 600;
    }
    .edit-profile-title{
        h3{ 
            font-size: 24px;
            line-height: 34px;
        }
        font-weight: 700;
        margin-bottom: 32px;
        .edit-back{
            margin-right: 15px;
        }
    }
    .dicscription{
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 12px;
        font-weight: 400;
    }
    .discriptionlg{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 16px;
        font-weight: 400;
        &.sb{
            font-weight: 600;
        }
    }
    .tab-link-wrap{
        border-bottom: 1px solid $border2-color;
        @include overflow;
        padding: 0;
        flex-wrap: nowrap;
        .tab-link{
            margin-right: 15px;
            white-space: nowrap;
            &:last-child{
                margin-right: 0;
            }
        }
        .title{
            font-size: 14px;
            line-height: 21px;
            padding: 5px 0 12px;
            color:$primary-color;
            font-weight: 500;
            position: relative;
            &:after{
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                height: 3px;
                width: 100%;
                background-color: transparent;
            }
            &.active{
                font-weight: 600;
                color: $blue-color;
                &:after{
                    background-color: $blue-color;
                }
            }
        }
    }
    .select-input{
        select{
            width: 80px;
        }
        input{
            width:calc(100% - 88px);
        }
    }
    .box{
        padding: 24px 22px;
        background-color: $white-color;
        margin-bottom: 32px;
        &.inline{
            padding: 16px;
            font-size: 16px;
            .link{
                color:$blue-color;
                text-decoration: underline;
                cursor: pointer;
            }
        }
        .inner-box{
            max-width: 860px;
        }
        .verify-email-btn{
            font-size: 12px;
            line-height: 15px;
            color:#EB8C57;
            border:1px solid #EB8C57;
            border-radius: 4px;
            padding: 5px 8px;
            margin-bottom: 2px;
        }
        .max-limit{
            font-size: 12px;
        }
    }
    .NoCard{
        min-height: 312px;
        .no-payment{
            font-size: 16px;
            line-height: 24px;
            margin:16px 0;
        }
        .primary-btn{
            width: 233px;
        }
    }
    .button-wrapper{
        max-width: 250px;
        .border-btn{
            width: 97px;
        }
        .primary-btn{
            width: 117px;
            &.disable{
                opacity: .44;
            }
        }
    }
    .prifile-image{
        max-width: 172px;
        max-height: 172px;
        margin-right: 24px;
    }
    .upload-btn{
        background-color: $border2-color;
        width:190px;
        height: 42px;
        border-radius: 42px;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        margin: 0;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        input{
            display: none;
        }
    }
    .delete-btn{
        width: 40px;
        height: 40px;
        background-color: $delete-bg;
        margin-left: 28px;
    }
    .payment-card-wrap{
        width:100%;
        max-width: 368px;
        border: 1px solid $border2-color;
        border-radius: 16px;
        .payment-card{
            width: calc(100% + 2px);
            height: 200px;
            background-color: $card-blue-color;
            border-radius: 16px;
            margin: -1px 0 0 -1px;
            padding: 24px 24px 16px;
            @include pos(re);
            overflow: hidden;
            &:before{
                content: '';
                width: 375px;
                height: 262px;
                background-color: rgba($white-color,.1);
                @include pos(ab,-170px,-175px,null,null);
                border-radius:50%;
            }
            &:after{
                content: '';
                width: 375px;
                height: 262px;
                background-color: rgba($white-color,.08);
                @include pos(ab,null,null,-170px,-175px);
                border-radius:50%;
            }
        }
        .paymentCard{
            @include pos(re);
            z-index: 2;
        }
        .bank-name{
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 42px;
            color: $white-color;
            font-weight: 600;
        }
        .card-no{
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 24px;
            font-weight: 500;
            color:$white-color;
            letter-spacing: 3px;
        }
        .card-holder{
            .label{
                font-size: 11px;
                line-height: 13px;
                color:#B6D3FD;
                margin-bottom: 4px;
            }
            .value{
                font-size: 16px;
                line-height: 20px;
                font-weight: 500;
                color:$white-color;
                margin-bottom: 4px;
            }
        }
        .payemnt-edits{
            height: 44px;
            font-weight: 500;
            padding: 0 16px;
            button{
                padding: 0;
            }
            .remove{
                color:$disc-color;
            }
            .edit{
                color: $blue-color;
            }
        }
        .card-name{
            svg{
                width: 48px;
            }
            .icon{
                fill:$white-color;
            }
        }
    }
    .payment-card-wrapper{
        .add-card{
            width: 368px;
            max-width: 100%;
            margin-left: 48px;
            height: 200px;
            border-radius: 16px;
            background-color: rgba($blue-color,.05);
            span{
                width: 26px;
                height: 26px;
                color:$white-color;
                font-size: 28px;
                border-radius: 50%;
                line-height: 22px;
                padding-bottom: 2px;
                background-color: $blue-color;
                margin-bottom: 10px;
            }
            .another-card{
                font-size: 16px;
                line-height: 18px;
                color:$blue-color;
            }
        }
    }
}

@media all and (min-width:320px) and (max-width:1024px){
    .edit-inner-container{ 
        .edit-profile-title{
            padding: 40px 15px 32px;
            background-color: $white-color;
            margin: 0 -15px;
        }
        .edit-header{
            background-color: $white-color;
            margin: 0 -15px;
            padding: 40px 15px 0;
        }
        .profile-image-upload {
            flex-direction: column;
            .prifile-image{
                margin-bottom: 24px;
                margin-right: 0;
            }
            .profile-btn-wrap{
                justify-content: center;
            }
        }
        .payment-card-wrapper{
            flex-direction: column;
            align-items: center;
            padding-bottom: 50px;
            .add-card{
                max-width: 310px;
                height: 60px;
                margin-left: 0;
                flex-direction: row;
                span{
                    margin: 0 10px 0 0;
                    width:17px;
                    height: 17px;
                    font-size: 16px;
                    line-height: 16px;
                }
            }
        }
        .payment-card-wrap{
            max-width: 310px;
            margin-bottom: 46px;
            .payemnt-edits{
                font-size: 12px;
            }
            .payment-card{
                height: 168px;
                padding: 16px 20px;
                &:before,&:after{
                    width:315px;
                    height: 220px;
                }
                &:before{
                    top:-140px;
                    right:-140px;
                }
                &:after{
                    left:-140px;
                    bottom: -140px;
                }
                .bank-name{
                    font-size: 14px;
                    line-height: 16px;
                    margin-bottom: 38px;
                }   
                .card-no{
                    font-size: 14px;
                    line-height: 16px;
                    margin-bottom: 24px;
                }
                .card-holder{
                    .label{
                        font-size: 11px;
                    }
                    .value{
                        font-size: 14px;
                        line-height: 16px;
                    }
                }
                .card-name{
                    max-width: 32px;
                }
            }
        }
        
        .edit-inner{
            .breadcrumbs-wrapper{
                display: none;
            }
            h1{
                margin: 0 -15px 32px;
                padding: 40px 15px 30px;
                background-color: $white-color;
            }
        }
    }
    .Edit-profile{
        .mobile-header{
            display: none;
        }
    }
}

@media all and (min-width:1025px){
    .edit-inner-container{
        .breadcrumbs-wrapper{
            background-color: transparent;
        }
        .tab-link-wrap{
            border-bottom: 1px solid $border2-color;
            .tab-link{
                margin-right: 48px;
            }
            .title{
                font-size: 16px;
                line-height: 21px;
            }
        }
        .box{
            .wd50{
                max-width: calc(50% - 12px);
            }
        }
    }
}
.payment-checkbox  {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: 2px;
    border:2px solid $border-color;
    &:after {
      content: "";
      position: absolute;
      display: none;
    }
}

.disable-upload-image-btn {
    opacity: 0.6;
    cursor: not-allowed !important;
}

