.messages-wrapper {
  padding: 40px 15px 60px;
  margin: 0 auto;
  max-width: 1094px;
  .message-inner {
    height: 490px;
  }
  .profile-wrapper {
    max-width: 308px;
    width: 100%;
    background-color: $white-color;
    border-radius: 8px;
    max-height: 100%;
    overflow: hidden;
  }
  .profile-title-wrap {
    padding: 8px 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
    .title {
      font-size: 16px;
      line-height: 20px;
      font-weight: 500;
      span {
        margin-right: 5px;
      }
    }
    .btn-chat {
      width: 32px;
      height: 32px;
      background-color: $blue-color;
    }
  }
  .profile-chat-list-wrap {
    height: calc(100% - 48px);
    @include overflow;
  }
  .profile-chat-list {
    padding: 16px;
    border-bottom: 1px solid $border2-color;
    cursor: pointer;
    &.active {
      background-color: $modal-header-bg;
    }
    .image {
      width: 40px;
      height: 40px;
      overflow: hidden;
      margin-right: 8px;
    }
    .name {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 4px;
      .new {
        width: 6px;
        height: 6px;
        margin-left: 6px;
        background-color: $blue-color;
        border-radius: 50%;
      }
      .current {
        width: 6px;
        height: 6px;
        margin-left: 6px;
        background-color: green;
        border-radius: 50%;
      }
    }
    .time {
      font-size: 12px;
      line-height: 16px;
      color: $search-color;
    }
    .option {
      position: relative;
      .three-dot {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: $search-bg;
        span {
          width: 2px;
          height: 2px;
          border-radius: 50%;
          margin: 2px 0;
          background-color: #a1abb7;
        }
      }
    }
  }
  .right-pannel {
    width: calc(100% - 324px);
    background-color: $white-color;
    border-radius: 8px;
    max-height: 100%;
    .chat-box-wrap {
      height: calc(100% - 156px);
      @include overflow;
    }
    .chat-box {
      padding: 0 70px;
      flex-wrap: nowrap;
      min-height: 100%;
    }
    .chat-wrap {
      margin-bottom: 16px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      &.left {
        align-items: flex-start;
        .chat {
          border-radius: 16px 16px 16px 0;
        }
      }
      &.right {
        align-items: flex-end;
      }
    }
    .chat {
      padding: 9px 16px;
      background-color: $blue-color;
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      color: $white-color;
      margin-bottom: 8px;
      border-radius: 16px 16px 0 16px;
      .time {
        text-align: right;
      }
    }
    .time {
      color: $search-color;
      font-size: 12px;
    }
    .input-chat {
      @include pos(re);
      padding: 25px 32px 24px 24px;
      input {
        font-size: 14px;
        background: none;
        border: 1px solid $border2-color;
        padding: 0 35px 0 15px;
        border-radius: 24px;
        color: $primary-color;
        width: calc(100% - 40px);
        height: 40px;
        &::placeholder {
          color: $search-color;
          opacity: 1;
        }
        &:-ms-input-placeholder {
          color: $search-color;
        }
        &::-ms-input-placeholder {
          color: $search-color;
        }
      }
      .g-btn {
        @include pos(ab, 50%, 78px, null, null);
        transform: translateY(-50%);
      }
      .chat-btn {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: $body-bg;
        path {
          fill: $blue-color;
        }
      }
    }
  }
  .profile-header-title {
    padding: 16px 20px;
    .image {
      width: 40px;
      height: 40px;
      overflow: hidden;
      margin-right: 8px;
    }
    .name {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 4px;
      display: flex;
      align-items: center;
      .new {
        width: 6px;
        height: 6px;
        margin-left: 6px;
        background-color: $blue-color;
        border-radius: 50%;
      }
      .current {
        width: 6px;
        height: 6px;
        margin-left: 6px;
        background-color: green;
        border-radius: 50%;
      }
    }
    .time {
      font-size: 12px;
      line-height: 16px;
      color: $search-color;
    }
  }
  .static-content {
    height: 100%;
    padding: 0 15px;
    p {
      color: $primary-color;
      text-align: center;
      max-width: 218px;
    }
  }
  .right-pannel {
    .static-content {
      height: 100%;
      padding: 0 15px;
      p {
        font-size: 16px;
      }
      .primary-btn {
        max-width: 140px;
      }
    }
  }
}

@media all and (min-width: 320px) and (max-width: 1024px) {
  .messages-wrapper {
    .profile-wrapper {
      max-width: 100%;
      margin-bottom: 20px;
    }
    .right-pannel {
      width: 100%;
    }
  }
}
