
.step-left{
    flex:0 0 440px;
    background-color: $white-color;
    padding: 80px 25px 80px 80px;
}
.step-right{
    padding: 80px 80px 40px 72px;
    flex:0 0 calc(100% - 440px);
}
.step{
    margin-bottom: 108px;
    color:$search-color;
    font-size: 16px;
    .count{
        font-size: 20px;
        width: 44px;
        height: 44px;
        max-height: 44px;
        line-height: 1;
        margin-right: 16px;
        color:$search-color;
        border:2px solid $step-line-color;
        @include pos(re);
        &:before{
            content: "";
            @include pos(ab,null,null,calc(100% + 6px),50%);
            transform: translateX(-50%);
            width: 2px;
            height: 100px;
            border-radius: 2px;
            background-color: $step-line-color;
        }
    }
    &:first-child{
        .count{
            &:first-child{
                &:before{
                    content: none;
                }
            }
        }
    }
    &.process{
        color:$primary-color;
        .count{
            color:$step-success-color;
            border-color: $step-success-color;
            font-weight: 600;
            background-color: rgba($step-success-color,.05);
            &:before{
                background-color: $step-success-color;
            }
        }
    }
    &.completed{
        color:$primary-color;
        .count{
            font-size: 0;
            background: url('/static/images/check-icon.svg') no-repeat center center / 100%;
            &:before{
                background-color: $step-success-color;
            }
        }
    }
}


.step-container{
    h3{
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 24px;
        font-weight: 700;
        &.mb32{
            margin-bottom: 32px;
        }
    }
    h4{
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
    }
    .sub-title{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 24px;
        color: $primary-color;
    }
    .submit-wrapper{
        margin-top: 16px;
        max-width: 254px;
        &.conform{
            max-width: 351px;
            .primary-btn{
                max-width: 234px;
            }
        }
        .border-btn{
            width: 97px;
        }
        .primary-btn{
            max-width: 137px;
            .disable{
                opacity: .44;
            }
        }
    }
    
}

.guidlines-step{
    padding: 20px;
    background-color: $white-color;
    border-radius: 4px;
    margin-bottom: 16px;
    .Check-icon{
        width:24px;
        height: 24px;
        margin-right: 14px;
        svg{
            height: 24px;
        }
    }
    h4{
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        margin-bottom: 12px;
    }
    p{
        font-size: 14px;
        line-height: 22px;
        color:$search-color;
    }
}

.button-wrapper{
    margin-top: 24px;
    max-width: 192px;
}

@media all and (min-width:1025px){
    .step-container{
        .input-control{
            margin-bottom: 24px;
        }
    }   
}