.static-container{
    padding: 40px 15px 60px;
    width: 100%;
    max-width: 1090px;
    margin:0 auto;
    min-height: calc(100vh - 300px);
    .breadcrumbs-wrapper{
        padding-top: 0;
    }
    h1{
        font-size: 24px;
        line-height: 30px;
        font-weight: 700;
        margin-bottom: 8px;
    }
    .last-update{
        font-size: 16px;
        line-height: 20px;
    }
    .edit-back{
        margin-right: 15px;
        .icon{
            fill:#5C646C;
        }
    }
    .category-wrapper{
        background-color: transparent;
        padding-top: 20px;
        .category-list{
            .title{
                &:after{
                    height: 3px;
                }
            }
       }
    }
    .Category-list-wrap{
        max-width: 100%;
        padding: 0;
    }
}
.static-inner-container{
    margin-top: 24px;
    width: 100%;
    color:$primary-color;
    background-color: $white-color;
    border-radius: 8px;
    padding: 30px;
    h3{
        font-size: 20px;
        line-height: 28px;
        font-weight: 600;
        margin-bottom: 28px;
    }
    p{
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 28px;
    }
    strong{
        font-weight: 500;
    }
    ul,ol{
        padding-left:20px;
        li{
            font-size: 16px;
            line-height: 28px;
            margin-bottom: 28px;
        }
    }
}
.accordion-wrapper {
    &+* {
        margin-top: 0.5em;
    }
}

.accordion-item {
    overflow: hidden;
    transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
    height: auto;
    max-height: 9999px;
}

.accordion-item.collapsed {
    max-height: 0;
    transition: max-height 0.35s cubic-bezier(0, 1, 0, 1);
}
.accordion-wrapper{
    padding: 16px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(137, 143, 191, 0.1);
    margin-bottom: 16px;
}
.accordion-title {
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:$primary-color;
    font-size: 16px;
    line-height: 25px;
    &::after {
        content: "";
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid currentColor;
    }

    &:hover,
    &.open {
        color:$primary-color;
    }

    &.open {
        &::after {
            content: "";
            border-top: 0;
            border-bottom: 7px solid;
        }
    }
}

.accordion-content {
    padding: 16px 20px 16px 0;
    font-size: 14px;
    line-height: 22px;
    color: $primary-color;
}
@media all and (min-width:320px) and (max-width:1024px){
    .static-inner-container{
        padding: 20px 15px;
    }
    .static-container{
        .edit-back{
            .icon{
                fill:$primary-color;
            }
        }
        &.faqs{
            padding-top:0;
            h1{
                margin:0 -15px;
                padding: 40px 15px 32px;
                background-color: $white-color;
            }
        }
    }
}
@media all and (min-width:1025px){
    .static-container{
        .category-wrapper{
           .category-list{
                .title{
                    font-size: 16px;
                }
           }
        }
    }  
}