.normal{
    background-color: #fcb800!important;
}

.green{
    background-color: #689f38 !important;
}

.blue{
    background-color: #1976d2 !important;
}

.red{
    background-color: #d32f2f !important;
}

.pink{
    background-color: #c2185b !important;
}

.purple{
    background-color: #7b1fa2 !important;
}

.grey{
    background-color: #455a64 !important;
} 

.normalcolor{
    color: #fcb800!important;
}

.greencolor{
    color: #689f38 !important;
}

.bluecolor{
    color: #1976d2 !important;
}

.redcolor{
    color: #d32f2f !important;
}

.pinkcolor{
    color: #c2185b !important;
}

.purplecolor{
    color: #7b1fa2 !important;
}

.greycolor{
    color: #455a64 !important;
} 



