.maintanence-outline{
    display: block;
}

.maintain-containor{
    padding: 50px;
    text-align: center;
    // background-color: #d1ffec;
    

}

.maintain-imgcontainer{
    display: block;
    // width: 200px;
    text-align: center;

    img{
        width: 285px;
        margin: auto;
        text-align: center;

    }
    
}

