.sl--outer-layout{
    padding-top: 20px;
    padding-bottom: 20px;
}

.servlist-content-store{
    justify-content: space-between;
    align-items: center;
    border: thin solid #d1d1d1;
    background: #fff;
    margin-bottom: 21px;
    padding: 20px 20px 0px 10px;

}

.service-img-list{
    width: 223px;
    padding: 10px 10px 10px 30px;
    cursor: pointer;

    img{
        width: 100px;
        height: 80px;
        display: block;
    }

}

.serlist-contant{
    width: calc(100% - 223px);
    padding: 17px 25px 13px 30px;

    h3{
        font-size: 16px;
        font-weight: 400;
        color: #000;
        //  margin: 0 0 10px;
    }

    p{
        font-size: 12px;
        font-weight: 300;
        color: #484848;
        margin: 0 0 10px;
    }
}

.service-enq-button{
    text-align: right;
    margin-bottom: 10px;

    a{
        display: inline-block;
        // background: #000;
        border-radius: 3px;
        padding: 9px 25px;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        text-decoration: none;
        margin-right: 30%;
        font-weight: 500;
        
    }

    a:hover{
        color: #fff;
        background-color: black;


    }

}

.phone-internal-feild{
    margin-right: 100px;
}