.wrapper{
     display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
  // background-color: black;
  min-height: 100vh;
  margin: 0;
  .curved-box{
    border-radius: 40px;
  }
  .streaming-div-left {
    background-color: pink;
    padding: 15px;
    flex: 25%;
    // position: relative;
    h1{
      padding: 10px;
      margin: 0px;
      font-size: 15px;
      text-align: left;
    }
    h5{
      padding: 10px;
      // font-size: 15px;
      // display: flex;
     a:focus{
      text-decoration: underline;
     }
    }
    .stream-nav{
      display: flex;
      overflow-x: auto;
      h5{
        display: inline-block;
      }
    }
    .product-quick-search{
      
      input{
        // border-radius: 40px;
        background-color: white;
      }
    }
    .product-list{
      text-align: left;
      font-size: 20px;
      // background-color: red;
      padding: 10px;
    }
  }
  .streaming-div-center {
    background-color: #f1f1f1;
    padding: 15px;
    flex: 50%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    .seller-info{
      text-align: left;
      flex: 50%;
      background-color: red;
      height: 100px;
      overflow: hidden;
      #seller-name{
        font-size: 14px;
      }
      #seller-rating, #followers{
        font-size: 10px;
      }
      #follow-button{
        font-size: 12px;
      }
      #follow-button{
        margin: 0;
        font-size: 10px;
        position: relative;
        top:-10px;
        background-color: yellow;
      }
      
    }
    .social-presence{
      background-color: green;
      flex: 50%;
      height: 100px;
      text-align: right;
      #link-address{
        width: 80%;
        font-size: 12px;
      }
      #copy-link{
        width: 20%;
        font-size: 12px;
      }
      #social-links{
        font-size: 10px;
      }
    }
    .streaming-base{
      background-color: black;
      position: absolute;
      top: 32px;
      left: 28%;
      min-height: 500px;
      width: 300px;
    }
  }
  
  
  .streaming-div-right {
    background-color: dodgerblue;
    padding: 10px;
    flex: 25%;
  }
  @media (max-width: 800px) {
    .streaming-div-left {
      display: none;
    }
    .streaming-div-center {
      flex: 100%;
    }
    .streaming-div-right {
      display: none;
    }
  }
}