.country_code {
  width: 76px !important;
}

.phone_number {
  width: calc(100% - 88px) !important;
}


.width520{
  max-width: 520px;
}
.width420{
  max-width: 420px;
}
.label{
  font-size: 16px;
  margin-right: 15px;
}
.value{
  font-size: 16px;
  margin-right: 15px;
}
.link{
  color:#1877F2;
  margin-right: 10px;
}