.title{
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
}
.info_text{
  font-size:20px;
  line-height: 21px;
  color:#333D47
}
.email_text_size{
  font-size:20px;
  line-height: 21px;
}
.signup_google_wrap{
  max-width: 420px;
  margin:0 auto 24px;
}

.seperator{
  max-width: 420px;
  margin:0 auto 24px;
}
.verify_text{
  font-size:20px;
  line-height: 21px;
  color:#333D47
}
.fs_20{
  font-size:20px !important;
  line-height: 21px;
}
.icon_width{
  max-width: 20px;
}